:root {
  --primary-color: #2c3e50; /* Основной цвет (тёмно-синий) */
  --secondary-color: #ecf0f1; /* Второстепенный цвет (светло-серый) */
  --accent-color: #3498db; /* Акцентный цвет (голубой) */
  --background-color: #f8f9fa; /* Цвет фона */
  --text-color: #34495e; 
  --button-radius: 0.5rem; 
  --font-family: "Roboto", sans-serif;
}
